/* hero background image */
.bgimage {
    height:100vh;
    background: url('../images/smk.jpg');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* about section image css */
.imageAboutPage {
    width: 100%;
}

/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: rgba(0, 0, 0, 0.505);
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-github:hover,.fa-linkedin:hover, .fa-whatsapp:hover {
    color: #008000;
}
.fab {
    color: #ffffff;
}
/* footer styling */
#footer {
    background-color: #808080 ;
    text-align: center;
}

.love-icon {
    color: red;
  }

/* font styling */
:root {
    --bs-body-font-family: 'Lato', sans-serif!important;
}

body {
    font-family: var(--bs-body-font-family);
}

/* skill icon styling */
.skills {
    max-width: auto;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.skill-header {
margin-bottom: 1rem;
}

.skills-wrapper img {
padding: 1.25rem;
}

.icon-ansible {
width: 8rem;
height: 8rem;
}

.icon-cisco {
    width: 8rem;
    height: 8rem;
}

.icon-aws {
    width: 8rem;
    height: 8rem;
}

.icon-php {
    width: 8rem;
    height: 8rem;
}

.icon-html {
    width: 8rem;
    height: 8rem;
}

.icon-laravel {
    width: 8rem;
    height: 8rem;
}

.icon-card {
background-color: rgb(216, 216, 216);
border-radius: 11px;
box-shadow: 0 3px 10px var(--secondary-shadow);
padding: 20px;
margin: 10px;
}

/* .hr-line {
    width: 200px;
    border-top: 3px solid #000;
    margin: 10px auto;
} */